.order-summary{
    max-width: 250px;
    padding: 20px;
    margin: 30px auto 15px;
    background: #333;
    color: #ccc;
    border-radius: 5px;
}
.order-summary i{
    font-size:1.2rem;
    color: rgb(0, 255, 0);
}
.order-summary span{
    float: right;
    clear: both;
}
.order-summary h4{
    font-size: 1.3rem;
    margin: 10px 0;
    color: #eee;
}
.order-summary p{
    margin-bottom: 8px;
    font-family: monospace;
    font-size: 1.3rem;
}
.order-summary h3{
    font-size: 1.3rem;
    font-weight: 600;
    padding: 5px 0;
    color: #fff;
}
form{
    max-width: 90%;
    padding: 10px;
    margin: 0 auto;
}
form h3{
    font-size: 2rem;
    margin:25px 0 15px;
    color: #333;
    text-align: center;
    text-transform: uppercase;
}
form h3{
    font-size: 1.3rem;
    margin-bottom: 20px;
    text-align: left;
}
.input-container label{
    display: block;
    margin: 10px 0 5px;
    color: #333;
    font-size: 0.8rem;
    font-weight: 600;
}
.fa-cc-visa{
    color:#000080;
    font-size: 3rem;
    padding-right: 10px;
}
.fa-cc-mastercard{
    color:#ff0000;
    font-size: 3rem;
}
.icon-container > input{
    display: inline !important;
    width: 0px !important;
    margin: 0px !important;
    box-sizing: border-box !important;
    box-shadow: 1px 1px 10px 1px #333;
}
.icon-container > label {
    display: inline !important;
}
.icon-container input:checked + label{
    opacity: 0.6;
    border: #333
}
.input-container input, textarea, select{
    display: inline-block;
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    box-sizing: border-box;
    color: #333;
    border-radius: 4px;
    border: 1px solid #555;
    font-family: monospace;
}
textarea{
    height: 80px;
    vertical-align: top;
}
input[type="submit"]{
    width: 100%;
    border: none;
    padding: 10px;
    background: #008000;
    border-radius: 4px;
    color: #fff;
    text-transform: uppercase;
    font-weight: 600;
    box-sizing: border-box;
}
.logout{
    color: rgb(248, 248, 248);
    background-color: #005c00c0;
    line-height: 2.5rem;
    font-size: 1.1rem;
}



@media only screen and (min-width:760px){
    main .container{
        max-width: 1024px;
    }
    .order-summary{
        width: 25%;
        margin-top: 75px;
        float: right;
        clear: both;
    }
    form{
        width: 65%;
        float: left;
    }
    .input-container label{
        display: inline-block;
        width: 25%;
    }
    textarea,
    .input-container input,
    select{
        display: inline-block;
        width: 70%
    }
    input[type="submit"]{
        width: 70%;
        margin-left: 26%;
    }
    .credit-card{
        display: inline-block;
        vertical-align: top;
        padding-bottom: 10px;
    }
}