.panel-container{
    width: 100%;
    margin: 50px auto;
    display: block;
    position: relative;
    box-sizing: border-box;
}

.panel-container input{
    width: 0px;
    margin: 0px;
    height: 0px;
    padding: 0px;
    opacity: 0;
}
.panel-container label{
    background: rgb(0, 161, 0);
    color: rgb(230, 230, 230);
    padding: 10px 5px;
    margin: 0 auto;
    width: 100%;
    height: 32px;
    vertical-align: middle;
    text-align: center;
    border: 2px solid #fff;
    display: inline-block;
    cursor: pointer;
}
.panel-container section{
    display: inline-block;
    width: 32%;
    overflow: hidden;
}
.panel-container section article{
    display: none;
    position: absolute;
    top: 70px;
    left: 0px;
    width: 100%;
    margin: 0 auto 20px;
    padding-top: 20px;
    overflow: hidden;
}
.panel-container input:checked + label{
    background: #eee;
    color: rgb(0, 173, 0);
}

section #tab1:checked ~ #content1,
section #tab2:checked ~ #content2,
section #tab3:checked ~ #content3{
    display: block;
}
#content1 button{
    margin: 5px;
    padding: 10px;
    background-color: green;
    color: #eee;
    border:1px solid #fff;
    box-sizing: border-box;
    border-radius: 4px;
    box-shadow: 1px 1px 5px 1px #555;
}

.food-table,
.pending-order,
.completed-order{
    overflow-x: auto;
}
table{
    width: 100%;
    text-align: left;
    line-height: 1.5rem;
    border: 1px solid #ccc;
    border-collapse: collapse;
}
th{
    background-color: #005a00;
    color: #f2f2f2;
    font-weight: 600;
    padding: 10px;
    font-size: 1.2rem;
    text-transform: uppercase;
}
tr:nth-child(even){
    background-color: #ccc;
}
td{
    padding: 10px;
}
td:first-child,
td:nth-child(6),
th:nth-child(6),
td:last-child,
th:last-child{
    text-align: center;
}
td button{
    background: #005a00;
    color: #f2f2f2;
    padding: 5px;
    border: none;
    border-radius: 4px;
}
img{
    height: 50px;
    width: 50px;
    object-fit: cover;
    border-radius: 10px;
    vertical-align: middle;
}
.fa-edit{
    color:#0000a5;
    cursor: pointer;
}
.fa-times-circle{
    color: #c50101;
    cursor: pointer;
}
article h2{
    font-family: 'Courier New', Courier, monospace;
    font-weight: 600;
    line-height: 3rem;
    font-size: 2.5rem;
    padding: 5px;
    text-transform: uppercase;
    text-align: center;
    display: block;
}
.red{
    color: red;
}
.green{
    color: green;
}
footer{
    display: none;
}
body.modal {
    overflow: hidden;
    position: fixed;
}
.overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0; 
    background: rgba(0, 0, 0, 0.5);
    visibility: hidden;
    opacity: 0;
}
.overlay .cancel {
    position: absolute;
    width: 100%;
    height: 100%;
    cursor: default;
}
.overlay:target {
    visibility: visible;
    opacity: 1;
}
.modal {
    margin: 100px auto;
    padding: 20px;
    background: #fff;
    border: 1px solid #666;
    max-width: 300px;
    border-radius: 6px;
    box-shadow: 0 0 50px rgba(0, 0, 0, 0.5);
    position: relative;
}
.modal .close {
    position: absolute;
    width: 10px;
    height: 10px;
    top: -10px;
    right: -10px;
    opacity: 0.8;
    font-size: 0.8rem;
    font-weight: bold;
    text-decoration: none;
    color: #ececec;
    background-color: #3b2901;
    padding: 5px;
    border-radius: 100%;
}
.modal .close:hover {
    opacity: 1;
}
.modal .content {
    overflow: auto;
    padding: 10px;
}
.content form select,
.content form textarea,
.content form input{
    width: 100%;
    padding: 10px;
    margin: 10px auto;
    box-sizing: border-box;
}
.content form input[type="radio"]{
    width: 20px;
    display: inline-block;
    text-align: left;
} 
.content form input[type="submit"]{
    background-color: #005a00;
    border: none;
    color: #fff;
    font-size: 1.1rem;
    box-shadow: none;
    text-transform: uppercase;
}
.content form input[type="submit"]:hover{
    box-shadow: 2px 2px 5px #666;
}
.content h2{
    font-size: 1.6rem;
    margin-bottom: 1rem;
    font-weight: 600;
}
.content div{
    background-color: rgb(167, 167, 167);
    padding: 1rem;
    margin-bottom: 1rem;
    border-radius: 10px;
}
.content div h3{
    font-size: 1.1rem;
    font-weight: 600;
    text-transform: capitalize;
    padding-bottom: 10px;
    color: rgb(43, 43, 43)
}
.content div p{
    padding-bottom: 5px;
    color: rgb(73, 73, 73);
}
.content div form{
    color: rgb(73, 73, 73);
}
.content div form .submit{
    display: block;
    border-radius: 10px;
    width: 40%;
    margin: 5px auto 0;
    text-align: center;
    padding: 7px;
}
.footer-conten{
    position:absolute;
   bottom:0;
   width:100%;
   height:100px
}

@media only screen and (min-width:769px){
    .panel-container section{
        display: inline-block;
        width: 32%;
        overflow: hidden;
    }
}

@media only screen and (min-width:1026px){
    .panel-container label{
        padding: 10px 5px;
        margin: 0px;
        width: 180px;
        height: 25px;
        display: inline-block;
        cursor: pointer;
    }
    .panel-container section{
        display: block;
        width: 100%;
    }
    .panel-container section article{
        top: 0px;
        left: 230px;
        width: 80%;
    }
    
}