.table-container{
    overflow-x: auto;
    margin:  0 auto;
}
table{
    width: 100%;
    text-align: left;
    margin: 0 auto;
    border: 1px solid #ccc;
    border-collapse: collapse;
}
th{
    background-color: #005c00;
    color: #f1f1f1;
    font-weight: 600;
    line-height: 1.5rem;
    text-transform: uppercase;
}
td, th{
    padding: 10px 20px;
}
tr td:nth-child(4){
    text-align: center;
}
tr td:nth-child(3){
    line-height: 1rem;
}
td{
    line-height: 3rem;
}
tr:nth-child(even){
    background-color: #ccc;
}
tr:nth-child(even):hover{
    background-color: #c4c4c4;
}
/* .img-container{
    display: flex;
} */
img{
    height: 50px;
    width: 50px;
    margin: auto;
    vertical-align: middle;
    border-radius: 10px;
    object-fit: cover;
}
.red{
    color: #cc0000;
}
.order-calc{
    width: 100%;
    margin-top: 20px;
    display: flex;
    justify-content: flex-end;
    text-transform: uppercase;
}
.order-calc tr:nth-child(2){
    font-weight: 600;
    font-size: 1.2rem;
}
.order-checkout{
    width: 100%;
    display: flex;
    justify-content: flex-end;
}
button{
    padding: 5px 10px;
    margin: 10px 0 30px;
}
